{{>header}}
<div class="row">
	<div class="large-12 columns">&nbsp;</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h1 class="text-center"><b>Portfolio</b></h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns"><h4><u>{{repos.[0].AltSideNYC.siteName}}</u></h4><a class="th" target="_blank" href="//www.alternatesidenyc.com/"><img src="/img/ALT.png"></a></div>
</div>
<div class="row">
	<div class="large-12 columns"><br>Latest Commit - {{repos.[0].AltSideNYC.lastCommitDate}} || <a target="_blank" href="{{repos.[0].AltSideNYC.lastCommitURL}}">{{repos.[0].AltSideNYC.lastCommitURL}}</a><br><br><br><br></div>
</div>
<div class="row">
	<div class="large-12 columns"><h4><u>{{repos.[1].AltSideNYCAPI.siteName}}</u></h4><a class="th" target="_blank" href="//api.alternatesidenyc.com/"><img src="/img/APIALT.png"></a></div>
</div>
<div class="row">
	<div class="large-12 columns"><br>Latest Commit - {{repos.[1].AltSideNYCAPI.lastCommitDate}} || <a target="_blank" href="{{repos.[1].AltSideNYCAPI.lastCommitURL}}">{{repos.[1].AltSideNYCAPI.lastCommitURL}}</a><br><br><br><br></div>
</div>
<div class="row">
	<div class="large-12 columns"><h4><u>{{repos.[2].Blog.siteName}}</u></h4><a class="th" target="_blank" href="//www.endoflne.com/"><img src="/img/EOL.png"></a></div>
</div>
<div class="row">
	<div class="large-12 columns"><br>Latest Commit - {{repos.[2].Blog.lastCommitDate}} || <a target="_blank" href="{{repos.[2].Blog.lastCommitURL}}">{{repos.[2].Blog.lastCommitURL}}</a><br><br><br><br></div>
</div>
<div class="row">
	<div class="large-12 columns text-center">
		<ul class="vcard">
		<li class="fn">Stephen Pugliese</li>
		<li class="locality">Flushing, NY</li>
		<li class="email"><a href="mailto:stephen.pugliese@outlook.com">stephen.pugliese@outlook.com</a></li>
		</ul>
	</div>
</div>
{{>footer}}