include ./partials/header.pug
.container
	br
	nav.nav.justify-content-end
		a.nav-link.active(href="/") Work
		a.nav-link.active(href="/static/Resume.pdf" target="_new") Resume
		a.nav-link.active(href="https://github.com/SteveyPugs/" target="_new") GitHub
		a.nav-link(href="mailto:stephen.pugliese@outlook.com") Email

	br
	.row
		.col-lg
			.card
				.card-body
					h4.card-title Tax Processing Services
					p.card-text Platform for Italitan Tax Relief
					a.card-link(target="_new" href="https://tps.acupaysystem.com/") Go
	br
	.row
		.col-lg
			.card
				.card-body
					h4.card-title Alternate Side NYC
					p.card-text Website devoted to Alternate Side Parking in NYC
					a.card-link(target="_new" href="http://www.alternateside.nyc/") Go
	br
	.row
		.col-lg
			.card
				.card-body
					h4.card-title Tweedles Bakery
					p.card-text Bakery website devoted to advertisement and sale of baked goods
					a.card-link(target="_new" href="https://www.tweedlesbakery.com/") Go
	br
	.row
		.col-lg
			.card
				.card-body
					h4.card-title The Top Corn
					p.card-text Website to find the best popcorn near you
					a.card-link(target="_new" href="http://www.thetopcorn.com/") Go
	br
	.row
		.col-lg
			.card
				.card-body
					h4.card-title Fixy
					p.card-text Node.js NPM to translate fixed length text and parse it back in a useable format
					a.card-link(target="_new" href="https://www.npmjs.com/package/fixy") Go
include ./partials/footer.pug