include ./partials/header.jade
div(class="container-fluid")
	div(class="row")
		div(class="large-12 columns")
			h1(class="text-center") Portfolio
		each site in sites
			div(class="row")
				div(class="large-12 columns")
					a(target="_blank", class="text-center", href="#{site.site_url}")
						h5
							= site.site_name
			div(class="row")
				div(class="large-12 columns")
					a(target="_blank", class="text-center", href="#{site.commit_url}") 
						p Latest Commit: 
							= site.commit_date
		div(class="row")
			div(class="large-12 columns text-center")
				address
					b Stephen Pugliese
					br
					a(href="mailto:stephen.pugliese@outlook.com") stephen.pugliese@outlook.com
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="/js/bootstrap.min.js")